* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--white);
	color: var(--slate);
	max-width: 1440px;
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

h2 {
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	color: var(--navy);
	text-align: center;
}

.container {
	max-width: 1158px;
	margin-left: 156px;
}

.section {
	padding: 120px 0 120px 0;
}

.header {
	margin: 25.5px 0 25.5px 0;
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.header__links {
	display: flex;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 117%;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	color: var(--iris);
	margin-right: 76px;
}

.header__contacts {
	font-style: normal;
}
.header__items {
	display: flex;
}

.header__item {
	display: flex;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.02em;
	margin: 0;
}

.header__item:nth-last-child(-n + 2) {
	margin-left: 40px;
}

.header__contacts_items {
	display: flex;
}

.header__contacts_items {
	margin: 0;
}

.header__contacts_link {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.32px;
	color: var(--slate);
}

.header__contacts_link:nth-last-child(-n + 1) {
	margin-left: 40px;
}

.header__logo {
	color: var(--navy);
}

.header__link {
	line-height: 150%;
	letter-spacing: 4%;
	color: var(--navy);
}

.header__link:hover,
.header__link:focus {
	color: var(--ocean);
}

.header__contacts_link:hover,
.header__contacts_link:focus {
	color: var(--ocean);
}

.order {
	background-color: var(--navy);
}

.order__title {
	width: 496px;
	margin: 68px 0 48px 316px;

	color: var(--white);
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 107.143%;
	letter-spacing: 1.12px;
	text-align: center;
}

.order__button {
	font-family: 'Roboto', sans-serif;
	background-color: var(--iris);
	text-align: center;
	color: var(--white);

	cursor: pointer;
	padding: 16px 32px;
	margin-left: 472px;

	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.64px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order__button:hover,
.order__button:focus {
	background-color: var(--ocean);
}

.feature__items {
	display: flex;
}

.feature__subtitle {
	padding-bottom: 8px;
	width: 264px;

	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.4px;
	color: var(--navy);
}

.feature__item:nth-last-child(-n + 3) {
	margin-left: 24px;
}

.feature__dscr {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.32px;
}

.team {
	background-color: var(--cloud);
}

.team__items {
	display: flex;
}

.team__item {
	background-color: var(--white);
	width: 264px;
	height: 348px;
	margin-top: 72px;
	margin-left: 24px;
}

.team__item:first-child {
	margin-left: 0;
}

.team__subtitle {
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.4px;
	text-align: center;
	color: var(--navy);
}

.team__dscr {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.02em;
	text-align: center;
}

.portfolio__title {
	color: var(--bluemodal);
	line-height: 150%;
	letter-spacing: 0.2px;

	margin-bottom: 72px;
}

.portfolio__items {
	display: flex;
	flex-wrap: wrap;
}

.portfolio__item {
	width: 360px;
	height: 420px;
	margin-left: 24px;
	margin-top: 48px;
}

.portfolio__item:first-child,
.portfolio__item:nth-child(4n) {
	margin-left: 0;
}

.portfolio__item_text {
	border-block-end: 1px solid;
	writing-mode: horizontal-tb;
	border-block-end-color: var(--cornflower);

	border-inline: 1px solid;
	border-inline-color: var(--cornflower);
}

.portfolio__subtitle {
	padding-top: 32px;
	padding-left: 16px;

	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.4px;
	color: var(--bluemodal);
}

.portfolio__dscr {
	padding-bottom: 32px;
	padding-left: 16px;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
}

.footer {
	background-color: var(--navy);
}

.footer__dscr {
	width: 264px;
	margin-top: 17.5px;
	padding-bottom: 100px;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.32px;
	color: var(--cloud);
}

.footer__logo {
	color: var(--cloud);
}

:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-grey: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--bluemodal: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;
}
